services:
  traefik:
    image: "traefik:v3.6.1"
    restart: always
    command:
        - "--api.insecure=true"
        - "--providers.docker=true"
        - "--providers.docker.exposedbydefault=false"
        - "--entrypoints.web.address=:80"
    ports:
        - "127.0.0.1:80:80"
        - "127.0.0.1:8080:8080"
    volumes:
        - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik
    hostname: traefik
    container_name: traefik
  mailcatcher:
    image: tophfr/mailcatcher
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.mailcatcher.rule=Host(`mailcatcher.localhost`)"
      - "traefik.http.routers.mailcatcher.service=mailcatcher"
      - "traefik.http.services.mailcatcher.loadbalancer.server.port=80"
    networks:
      - traefik
  kwkhtmltopdf:
    restart: always
    image: ghcr.io/acsone/kwkhtmltopdf:0.12.5-latest
    networks:
      - traefik
networks:
  traefik:
    name: traefik
